<!-- <div class="container-fluid">
    <ul class="list-group">
        <div *ngFor="let friend of Friends"> 
        <li class="list-group-item ">{{friend.ID_Friend}}</li>
        </div>
    </ul>
</div> -->
<div class="conversation" *ngFor="let friend of friends">
    <img src="../../../assets/pictures/DefaultUser.png" alt="user photo">
    <div class="title-text">
        {{friend.ID_Friend}}
    </div>
    <div class="created-date">
        8.1
    </div>
    <div class="conversation-message">
    </div>
</div>