<!-- <div class="container-fluid">
    <ul class="list-group">
        <div *ngFor="let friend of Friends"> 
        <li class="list-group-item ">{{friend.ID_Friend}}</li>
        </div>
    </ul>
</div> -->
<div class="conversation" *ngFor="let user of users" (click)="sendIdChat(user.ID)">
    <img src={{user.Picture}} alt="user photo">
    <div class="title-text">
        {{user.UserName}}
    </div>
    <div class="created-date">
        8.1
    </div>
    <div class="conversation-message">
    </div>
</div>