<!-- <div class="container-fluid">
    <ul class="list-group">
        <div *ngFor="let friend of Friends"> 
        <li class="list-group-item ">{{friend.ID_Friend}}</li>
        </div>
    </ul>
</div> -->
<div class="conversation" *ngFor="let user of users" >
    <img src={{user.Picture}} alt="user photo" (click)="sendIdChat(user.ID)">
    <div class="title-text">
        {{user.UserName}}
    </div>
    <div class="created-date">
        {{lastMessage?.Send_Time}}
    </div>
    
    <div class="delete-mess">
        <button><img (click)="deleteFriend(user.ID)" src="../../../assets//pictures/trash-1638702-1388095.png" alt="Delete Conversation" width="100%"></button>
    </div>
    <div class="conversation-message">
        {{lastMessage?.TheMessage}}
    </div>
</div>